body{
    background-color: gray;
}
img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.img {
    width: 300px;
    height: 300px;
}

.backImg {
    width: 30px;
    height: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
    padding: 5px;
}

.title {
    font-size: 18px;
    justify-content: center;
}

.h1{
    justify-content: center;
    align-items: center;
    margin-left: 660px;
}

button{
    border: none;
    outline: 0;
    display: inline;
    padding: 6px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    border-radius: 10px;
    transition: transform 3s;
}

button:hover, a:hover {
    opacity: 0.7;
    /* transform: scale(2,2) rotate(0deg); */
  }

  h1 {
      justify-content: center;
      align-items: center;
  }

  .container {
       margin-top: 20px;
       gap: 0px;
      justify-content: center;
      align-items: center;
      transition: display 5s ease-in-out;
      cursor: pointer;

  }

  .container:hover{
        display: inline;
  }

  @media screen and (max-width : 800px){
      
      .card {
        grid-template-columns: auto;
      }
      .h1{
          margin-left: 200px;
      }
  }